bin/Debug/
bin/Release/
obj
*~
*.sln.cache
*.suo
*.user
*.dotCover
*.pidb
*.userprefs
*.usertasks
*.mdb
.DS_Store
test-results

*.bak
*.pc
.libs/
.arch/
generated-stamp

lib/*.exe
packages/
lib/*.exe
UpgradeLog.htm
.vs*/
./etc
./share
./libexec
etc/
lib/*.a
lib/gdk*
libexec/
share/
